body {
    margin: 0px;
    padding: 0px;
  }
  
  @media (max-width : 412px) {
    * {
      padding: 0px !important;
      padding-bottom: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-left: 0px !important;
      margin-bottom: 0px !important;
      margin-right: 0px !important;
      margin: 0px !important;
      justify-self: center !important;
      justify-content: center !important;
      justify-items: center !important;
      text-align: center !important;
      align-self: center !important;
    }
  }
  
  .flex-box {
    display: flex;
    flex-wrap: wrap;
    line-height: 30px;
    font-size: larger;
  }
  
  .flex-item-1 {
    width: 10%;
    
  }
  
  .flex-item-2 {
    width: 20%;
    
  }
  
  .flex-item-3 {
    width: 30%;
    
  }
  
  .flex-item-4 {
    width: 40%;
    
  }
  
  .flex-item-5 {
    width: 50%;
    
  }
  
  .flex-item-6 {
    width: 60%;
    
  }
  
  .flex-item-7 {
    width: 70%;
    
  }
  
  .flex-item-8 {
    width: 80%;
    
  }
  
  .flex-item-9 {
    width: 90%;
    
  }
  
  .flex-item-10 {
    width: 100%;
    
  }
  
  .flex-item-md-1 {
    width: 10%;
    
  }
  
  .flex-item-md-2 {
    width: 20%;
    
  }
  
  .flex-item-md-3 {
    width: 30%;
    
  }
  
  .flex-item-md-4 {
    width: 40%;
    
  }
  
  .flex-item-md-5 {
    width: 50%;
    
  }
  
  .flex-item-md-6 {
    width: 60%;
    
  }
  
  .flex-item-md-7 {
    width: 70%;
    
  }
  
  .flex-item-md-8 {
    width: 80%;
    
  }
  
  .flex-item-md-9 {
    width: 90%;
    
  }
  
  .flex-item-md-10 {
    width: 100%;
    
  }
  
  .flex-item-lg-1 {
    width: 10%;
    
  }
  
  .flex-item-lg-2 {
    width: 20%;
    
  }
  
  .flex-item-lg-3 {
    width: 30%;
    
  }
  
  .flex-item-lg-4 {
    width: 40%;
    
  }
  
  .flex-item-lg-5 {
    width: 50%;
    
  }
  
  .flex-item-lg-6 {
    width: 60%;
    
  }
  
  .flex-item-lg-7 {
    width: 70%;
    
  }
  
  .flex-item-lg-8 {
    width: 80%;
    
  }
  
  .flex-item-lg-9 {
    width: 90%;
    
  }
  
  .flex-item-sm-1 {
    width: 10%;
    
  }
  
  .flex-item-sm-2 {
    width: 20%;
    
  }
  
  .flex-item-sm-3 {
    width: 30%;
    
  }
  
  .flex-item-sm-4 {
    width: 40%;
    
  }
  
  .flex-item-sm-5 {
    width: 50%;
    
  }
  
  .flex-item-sm-6 {
    width: 60%;
    
  }
  
  .flex-item-sm-7 {
    width: 70%;
    
  }
  
  .flex-item-sm-8 {
    width: 80%;
    
  }
  
  .flex-item-sm-9 {
    width: 90%;
    
  }
  
  .flex-item-sm-10 {
    width: 100%;
    
  }
  
  .flex-item-lg-10 {
    width: 100%;
    
  }
  
  .flex-item-xxl-1 {
    width: 10%;
    
  }
  
  .flex-item-xxl-2 {
    width: 20%;
    
  }
  
  .flex-item-xxl-3 {
    width: 30%;
    
  }
  
  .flex-item-xxl-4 {
    width: 40%;
    
  }
  
  .flex-item-xxl-5 {
    width: 50%;
    
  }
  
  .flex-item-xxl-6 {
    width: 60%;
    
  }
  
  .flex-item-xxl-7 {
    width: 70%;
    
  }
  
  .flex-item-xxl-8 {
    width: 80%;
    
  }
  
  .flex-item-xxl-9 {
    width: 90%;
    
  }
  
  .flex-item-xxl-10 {
    width: 100%;
    
  }
  
  .flex-item-xl-1 {
    width: 10%;
    
  }
  
  .flex-item-xl-2 {
    width: 20%;
    
  }
  
  .flex-item-xl-3 {
    width: 30%;
    
  }
  
  .flex-item-xl-4 {
    width: 40%;
    
  }
  
  .flex-item-xl-5 {
    width: 50%;
    
  }
  
  .flex-item-xl-6 {
    width: 60%;
    
  }
  
  .flex-item-xl-7 {
    width: 70%;
    
  }
  
  .flex-item-xl-8 {
    width: 80%;
    
  }
  
  .flex-item-xl-9 {
    width: 90%;
    
  }
  
  .flex-item-xl-10 {
    width: 100%;
    
  }
  
  @media (max-width: 768px) {
  
    .flex-item-md-4,
    .flex-item-md-1,
    .flex-item-md-2,
    .flex-item-md-3,
    .flex-item-md-5,
    .flex-item-md-6,
    .flex-item-md-7,
    .flex-item-md-8,
    .flex-item-md-9,
    .flex-item-md-10{
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
  
    .flex-item-sm-4,
    .flex-item-sm-1,
    .flex-item-sm-2,
    .flex-item-sm-3,
    .flex-item-sm-5,
    .flex-item-sm-6,
    .flex-item-sm-7,
    .flex-item-sm-8,
    .flex-item-sm-9,
    .flex-item-sm-10 {
      width: 100%;
    }
  }
  
  
  @media (min-width: 992px) {
  
    .flex-item-lg-4,
    .flex-item-lg-1,
    .flex-item-lg-2,
    .flex-item-lg-3,
    .flex-item-lg-5,
    .flex-item-lg-6,
    .flex-item-lg-7,
    .flex-item-lg-8,
    .flex-item-lg-9,
    .flex-item-lg-10 {
      width: 100%;
    }
  }
  .flex-box img{
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1200px) {
  
    .flex-item-xl-4,
    .flex-item-xl-1,
    .flex-item-xl-2,
    .flex-item-xl-3,
    .flex-item-xl-5,
    .flex-item-xl-6,
    .flex-item-xl-7,
    .flex-item-xl-8,
    .flex-item-xl-9,
    .flex-item-xl-10 {
      width: 100%;
    }
  }
  
  @media (max-width: 1400px) {
  
    .flex-item-xxl-4,
    .flex-item-xxl-1,
    .flex-item-xxl-2,
    .flex-item-xxl-3,
    .flex-item-xxl-5,
    .flex-item-xxl-6,
    .flex-item-xxl-7,
    .flex-item-xxl-8,
    .flex-item-xxl-9,
    .flex-item-xxl-10 {
      width: 100%;
    }
  }
  
  .flex-gap-1 {
    margin-left: 10%;
  }
  
  .flex-gap-2 {
    margin-left: 20%;
  }
  
  .flex-gap-3 {
    margin-left: 30%;
  }
  
  .flex-gap-4 {
    margin-left: 40%;
  }
  
  .flex-gap-5 {
    margin-left: 50%;
  }
  
  .flex-gap-6 {
    margin-left: 60%;
  }
  
  .flex-gap-7 {
    margin-left: 70%;
  }
  
  .flex-gap-8 {
    margin-left: 80%;
  }
  
  .flex-gap-9 {
    margin-left: 90%;
  }
  .flex-gap-sm-1 {
    margin-left: 10%;
  }
  
  .flex-gap-sm-2 {
    margin-left: 20%;
  }
  
  .flex-gap-sm-3 {
    margin-left: 30%;
  }
  
  .flex-gap-sm-4 {
    margin-left: 40%;
  }
  
  .flex-gap-sm-5 {
    margin-left: 50%;
  }
  
  .flex-gap-sm-6 {
    margin-left: 60%;
  }
  
  .flex-gap-sm-7 {
    margin-left: 70%;
  }
  
  .flex-gap-sm-8 {
    margin-left: 80%;
  }
  
  .flex-gap-sm-9 {
    margin-left: 90%;
  }
  
  .flex-gap-lg-1 {
    margin-left: 10%;
  }
  
  .flex-gap-lg-2 {
    margin-left: 20%;
  }
  
  .flex-gap-lg-3 {
    margin-left: 30%;
  }
  
  .flex-gap-lg-4 {
    margin-left: 40%;
  }
  
  .flex-gap-lg-5 {
    margin-left: 50%;
  }
  
  .flex-gap-lg-6 {
    margin-left: 60%;
  }
  
  .flex-gap-lg-7 {
    margin-left: 70%;
  }
  
  .flex-gap-lg-8 {
    margin-left: 80%;
  }
  
  .flex-gap-lg-9 {
    margin-left: 90%;
  }
  
  .flex-gap-md-1 {
    margin-left: 10%;
  }
  
  .flex-gap-md-2 {
    margin-left: 20%;
  }
  
  .flex-gap-md-3 {
    margin-left: 30%;
  }
  
  .flex-gap-md-4 {
    margin-left: 40%;
  }
  
  .flex-gap-md-5 {
    margin-left: 50%;
  }
  
  .flex-gap-md-6 {
    margin-left: 60%;
  }
  
  .flex-gap-md-7 {
    margin-left: 70%;
  }
  
  .flex-gap-md-8 {
    margin-left: 80%;
  }
  
  .flex-gap-md-9 {
    margin-left: 90%;
  }
  
  .flex-gap-xl-1 {
    margin-left: 10%;
  }
  
  .flex-gap-xl-2 {
    margin-left: 20%;
  }
  
  .flex-gap-xl-3 {
    margin-left: 30%;
  }
  
  .flex-gap-xl-4 {
    margin-left: 40%;
  }
  
  .flex-gap-xl-5 {
    margin-left: 50%;
  }
  
  .flex-gap-xl-6 {
    margin-left: 60%;
  }
  
  .flex-gap-xl-7 {
    margin-left: 70%;
  }
  
  .flex-gap-xl-8 {
    margin-left: 80%;
  }
  
  .flex-gap-xl-9 {
    margin-left: 90%;
  }
  
  .flex-gap-xxl-1 {
    margin-left: 10%;
  }
  
  .flex-gap-xxl-2 {
    margin-left: 20%;
  }
  
  .flex-gap-xxl-3 {
    margin-left: 30%;
  }
  
  .flex-gap-xxl-4 {
    margin-left: 40%;
  }
  
  .flex-gap-xxl-5 {
    margin-left: 50%;
  }
  
  .flex-gap-xxl-6 {
    margin-left: 60%;
  }
  
  .flex-gap-xxl-7 {
    margin-left: 70%;
  }
  
  .flex-gap-xxl-8 {
    margin-left: 80%;
  }
  
  .flex-gap-xxl-9 {
    margin-left: 90%;
  }
  
  @media (max-width: 768px) {
  
    .flex-gap-md-4,
    .flex-gap-md-1,
    .flex-gap-md-2,
    .flex-gap-md-3,
    .flex-gap-md-5,
    .flex-gap-md-6,
    .flex-gap-md-7,
    .flex-gap-md-8,
    .flex-gap-md-9,
    .flex-gap-md-10 {
      margin-left: 0%;
    }
  }
  
  @media (max-width: 576px) {
  
    .flex-gap-sm-4,
    .flex-gap-sm-1,
    .flex-gap-sm-2,
    .flex-gap-sm-3,
    .flex-gap-sm-5,
    .flex-gap-sm-6,
    .flex-gap-sm-7,
    .flex-gap-sm-8,
    .flex-gap-sm-9,
    .flex-gap-sm-10 {
      margin-left: 0%;
    }
  }
  
  
  @media (min-width: 992px) {
  
    .flex-gap-lg-4,
    .flex-gap-lg-1,
    .flex-gap-lg-2,
    .flex-gap-lg-3,
    .flex-gap-lg-5,
    .flex-gap-lg-6,
    .flex-gap-lg-7,
    .flex-gap-lg-8,
    .flex-gap-lg-9,
    .flex-gap-lg-10 {
      margin-left: 0%;
    }
  }
  
  @media (max-width: 1200px) {
  
    .flex-gap-xl-4,
    .flex-gap-xl-1,
    .flex-gap-xl-2,
    .flex-gap-xl-3,
    .flex-gap-xl-5,
    .flex-gap-xl-6,
    .flex-gap-xl-7,
    .flex-gap-xl-8,
    .flex-gap-xl-9,
    .flex-gap-xl-10 {
      margin-left: 0%;
    }
  }
  
  @media (max-width: 1400px) {
  
    .flex-gap-xxl-4,
    .flex-gap-xxl-1,
    .flex-gap-xxl-2,
    .flex-gap-xxl-3,
    .flex-gap-xxl-5,
    .flex-gap-xxl-6,
    .flex-gap-xxl-7,
    .flex-gap-xxl-8,
    .flex-gap-xxl-9,
    .flex-gap-xxl-10 {
      margin-left: 0%;
    }
  }